@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Corporate Colors */
  --color-rudark-volt: #D4F222;
  --color-rudark-matte: #121212;
  --color-rudark-carbon: #1F2937;
  --color-rudark-grey: #374151;

  /* Fonts */
  --font-sans: var(--font-montserrat);
  --font-condensed: var(--font-teko);
}

:root {
  --background: #121212;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-condensed);
  text-transform: uppercase;
}
